<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editing images</title>
    <link rel="stylesheet" href="css/styles.css">

</head>

<body>
    <div class="container">
        <header>
            <h1>PHOTO EDITING</h1>
            <h2>with GIMP</h2>
        </header>
    
        <main>
        <div class="container">
            <h2>Before Editing</h2>

        <h2>Image 1</h2>
        <img src="images/bird.jpg" alt="bird">
        <h2>Image 2</h2>
        <img src="images/cows.jpg" alt="cows">
        <h2>Image 3</h2>
        <img src="images/maranhao-sheets.jpg" alt="maranhao-sheets">
        <h2>Image 4</h2>
        <img src="images/owl.jpg" alt="owl">
        <h2>Image 5</h2>
        <img src="images/river.jpg" alt="river">
    </div>
    <div class="container">
        <header>
            <h1>After Editing</h1>
        </header>
        <h2>Image 1</h2>
        <img src="images/bird-edited.jpg" alt="bird-edited">
        <p>Image was resized.</p>
        <h2>Image 2</h2>
        <img src="images/cows-edited.jpg" alt="cows-edited">
        <p>Image was cropped and resized</p>
        <h2>Image 3</h2>
        <img src="images/maranhao-sheets-edited.jpg" alt="maranhao-sheets-edited">
        <p>Image was flipped and resized</p>
        <h2>Image 4</h2>
        <img src="images/owl-edited.jpg" alt="owl-edited">
        <p>Image was cropped and resized</p>
        <h2>Image 5</h2>
        <img src="images/river-edited.jpg" alt="river-edited">
        <p>Image was resized</p>
    </div>
   
</main>

</html>