body{
background-color: aqua;

}

h1{
    color:rgb(0, 0, 0);
    text-align: center;
    font-size: 90px;


}

hr {

    color:black;
    
}

ol {
    list-style-type: numeric;
    font-family: 'Courier New', Courier, monospace;


}

ol ol {
    list-style-type: numberic;
    font-family: 'Courier New', Courier, monospace;



}

ul {
    list-style-type:square;
    font-family: sans-serif;

}

ul ul {
    list-style-type: circle;


}

dt {
    color:brown;

}

dd {
    color:red;
    font-style: italic;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
